<%- include('partials/header.ejs') -%>

    <% 
    polls.forEach(poll => { %>
        <h1><%= poll.name %></h1> 
        <% options.forEach(option => {
            if(option.poll_id == poll.id){
                %>
                <p><%= option.option_text %></p>
                <%
            }
        });
        %> <a href="/poll?id=<%= poll.id %>">See more</a> <%
    }); %>
<%- include('partials/footer.ejs'); -%>