<%- include("partials/header.ejs") -%>

<% if(locals.profile) { %>
    <div id="profile-page">
        <div id="profile-info">
            <h5>Username</h5>
            <h4><%= profile[0].username %></h4>
            <h5>E-mail</h5>
            <h4><%= profile[0].email %></h4>
            <% if(profile[0].is_admin) {%>
            <h4>Admin user</h4>
            <% } %>
        </div>
        <div id="profile-polls">
            <% if(locals.created){ %>
                <div id="profile-buttons">
                    <button id="votes">Recent votes</button>
                    <button id="created">Created polls</button>
                </div>
            <% } %>

            <div id="polls">
                <% if(locals.polls){ %>
                    <div id="profile-description">
                        <h5>Recently voted</h5>
                        <h5>Vote option</h5>
                    </div>
                   <% polls.forEach(poll => { %>
                        <div class="profile-poll">
                            <h3 class="profile-poll-name"><%= poll.name %></h3>
                            <h3 class="profile-poll-option"><%= poll.option_text %></h3>
                        </div>
                        <a href="/poll/<%= poll.poll_id %>" class="seemorelink"><h4 class="seemore">See more >>></h4></a>
                <%  });
                } else { %>
                    <h3>User still haven't voted</h3>
                <% } %>
            </div>

            <% if(locals.created){ %>
                <div id="created-polls" class="hidden">
                    <h5>Created polls</h5>
                <% created.forEach(poll => { %>
                    <div class="created-poll">
                        <h3><%= poll.name %></h3>
                        <a href="/poll/<%= poll.id %>"><h4 class="seemore">See more>>></h4></a>
                    </div>
                <% }); %>
                </div>
        <script>
            document.getElementById('votes').onclick = function() {
                document.getElementById('polls').removeAttribute('class', 'hidden');
                document.getElementById('created-polls').setAttribute('class', 'hidden');  
            };   
            document.getElementById('created').onclick = function() {
                document.getElementById('polls').setAttribute('class', 'hidden');
                document.getElementById('created-polls').removeAttribute('class', 'hidden');
            };  
        </script>
<% }%> 
        </div>
    </div>

<%} else { %>
<h3><%= error %></h3>
<% } %>

<%- include("partials/footer.ejs") -%>